<section class="container-miniatures row">
  {{#each miniatures as |miniature index|}}
    <div class="col s6">
      <div class="container-miniature-item">
        <header>
          <h2 class="flow-text">{{miniature.name}}</h2>
        </header>
        <img src="./images/{{miniature.imageUrl}}" alt="{{miniature.name}}">
      </div>
    </div>
  {{/each}}
</section>

