<section class="container-miniatures row">
  {{#each miniatures as |miniature index|}}
    <div class="col s6">
      <a href="/miniatures/{{miniature._id}}">
        <div class="container-miniature-item">
          <header>
            <h2 class="flow-text">{{miniature.name}}</h2>
          </header>
          <img src="/images/{{miniature.imageUrl}}" alt="{{miniature.name}}">
        </div>
      </a>
    </div>
  {{/each}}
</section>

<section class="container-form create-miniature">
  <header>
    <h2 class="amber-text text-lighten-1">Add New Miniature</h2>
  </header>
  <form action="/" method="post">
    <label>Name
      <input type="text" name="newMiniature[name]">
    </label>
    <label>Image Url
      <input type="text" name="newMiniature[imageUrl]">
    </label>
    <button type="submit" class="waves-effect waves-light btn-large btn-flat">Create</button>
  </form>
</section>
