{{#each miniatures as |miniature index|}}
  <div class="container-miniature-item">
    <h2>{{miniature.name}}</h2>
    <img src="./images/{{miniature.imageUrl}}" alt="{{miniature.name}}">
  </div>
{{/each}}
