<section class="container-miniatures row">
  {{#each miniatures as |miniature index|}}
    <div class="col s6">
      <a href="/{{miniature._id}}">
        <div class="container-miniature-item">
          <header>
            <h2 class="flow-text">{{miniature.name}}</h2>
          </header>
          <img src="./images/{{miniature.imageUrl}}" alt="{{miniature.name}}">
        </div>
      </a>
    </div>
  {{/each}}
</section>

<section class="container-form create-miniature">
  <header>
    <h2 class="center">Add New Miniature</h2>
  </header>
  <form action="/" method="post">
    <input type="text" name="newMiniature[name]" placeholder="Name">
    <input type="text" name="newMiniature[imageUrl]" placeholder="Image Url">
    <button type="submit" class="waves-effect waves-light btn-large btn-flat">Create</button>
  </form>
</section>
