<section class="container-form">
  <header>
    <h2 class="amber-text text-lighten-1">Login</h2>
  </header>

  {{#if message}}
    <script>
      Materialize.toast('{{message}}', 4000)
    </script>
  {{/if}}

  <form method="post" action="/login">
    <label>Email
      <input class="form-control" type="text" name="email">
    </label>
    <label>Password
      <input class="form-control" type="password" name="password">
    </label>
    <button type="submit" class="waves-effect waves-light btn-large btn-flat">Log In</button>
  </form>
</section>
