<section class="row">
  <div class="col s6 offset-s3">
    <div class="container-miniature-item">
      <header>
        <h2 class="flow-text">{{miniature.name}}</h2>
      </header>
      <img src="./images/{{miniature.imageUrl}}" alt="{{miniature.name}}">
    </div>
  </div>
</section>

<section class="container-form update-miniature">
  <header>
    <h2 class="center">Update Miniature</h2>
  </header>
  <form action="/{{miniature._id}}?_method=put" method="post">
    <input type="text" name="updateMiniature[name]" placeholder="Name">
    <input type="text" name="updateMiniature[imageUrl]" placeholder="Image Url">
    <button type="submit" class="waves-effect waves-light btn-large btn-flat">Update</button>
  </form>
</section>
