<section class="container-form">
  <header>
    <h2>Signup</h2>
  </header>

  {{#if message}}
    <script>
      Materialize.toast('{{message}}', 4000)
    </script>
  {{/if}}

  <form method="post" action="/signup">
    <input class="form-control" type="text" name="email" placeholder="Email">
    <input class="form-control" type="password" name="password" placeholder="Password">
    <button type="submit" class="waves-effect waves-light btn-large btn-flat">Sign Up</button>
  </form>
</section>
