* {
  box-sizing: border-box;
}

body {
  background-color: #002F4F;
  background-image: url('../images/asfalt-light.png')
}

h1 {
  color: yellow;
}

.container-miniatures {
  display: flex;
  flex-wrap: wrap;
}

.container-miniature-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: rgba(200, 200, 200, .3);
  margin: 5px auto;
  height: calc(100% - 10px);
}

.container-miniature-item > header {
  padding: 0 .75rem;
  flex-grow: 2;
  color: #EEE;
}

.container-miniature-item > img {
  width: 100%;
  border-radius: 2px;
}

.container-create-miniature > header {
  color: #EEE;
}

.container-create-miniature > form > button {
  color: #EEE;
}
